 	<div class="header">
    		<h1 class="title"><%= @page.header_title%></h1>
        	<div class="logo"></div>
          <ul class="nav">
            	<li><a href="/matches">matches</a></li>
                <li><a href="/movies" <% if @title == 'movies' %> class="active_button" <% end %>>movies</a></li>
                <li><a href="/user/account" <% if @title == 'account' %> class="active_button" <% end %> >account</a></li>
            </ul><!-- .nav -->
            
            <!-- clear the float -->
            <div class="clearfloat"></div>
        </div><!-- .header -->
        
 <div class="section">
            
           

<div class="article profile">
	
	<h2 class="headshots"><%= @page.title %></h2>
	
  <br class="cl">
 
      <%= @page.body.html_safe %>
     
   </div><!-- article -->
            <!-- END Aritcle -->
        </div><!-- .section -->
            
        <!-- Start Sidebar (aside) -->

        <div class="aside">
            
        </div><!-- .aside -->
        <!-- END Sidebar (aside) -->
        
        <!-- clear the float -->
   

     
    
 

          
      
 
 
 
 
 
 
 

