 <div class="section">
            
            <div class="search_filter">
                <form>
                    <fieldset>
                        Movies playing within <input type="text" class="miles" /> 
                        miles of <input type="text" class="zip" />

                        <input type="text" value="genre" /><br />
                        <span class="search_for">
                            <u>S</u>earch for: 
                            <input type="text" class="search_movies" value="search movies..." />
                            <button type="button">Go</button>
                        </span><!-- .search_for -->
                    </fieldset>
                </form>

            </div><!-- .search_filter -->

<div class="article profile">
	<br class="cl">
	<h2 class="headshots"><%= @page.title %></h2>
  <br class="cl">
 
      <%= @page.body.html_safe %>
     
   </div><!-- article -->
            <!-- END Aritcle -->
        </div><!-- .section -->
            
        <!-- Start Sidebar (aside) -->

        <div class="aside">
            
        </div><!-- .aside -->
        <!-- END Sidebar (aside) -->
        
        <!-- clear the float -->
   

     
    
 

          
      
 
 
 
 
 
 
 

