 <div class="section">
            
            

<div class="article profile">
	<br class="cl">
	<h2 class="headshots"><%= @page.title %></h2>
  <br class="cl">
 
      <%= @page.body.html_safe %>
     
   </div><!-- article -->
            <!-- END Aritcle -->
        </div><!-- .section -->
            
        <!-- Start Sidebar (aside) -->

        <div class="aside">
            
        </div><!-- .aside -->
        <!-- END Sidebar (aside) -->
        
        <!-- clear the float -->
   

     
    
 

          
      
 
 
 
 
 
 
 

