  <div class="header">
  		<h1 class="title"><% if user_signed_in? %> Welcome, <%= current_user.username %> <% else %> <% end %></h1>
  		  <%= render :partial =>"home/header" %>
  	</div><!-- .header -->


   
        <div align="center" style="font-size:25px; color:#A80202; padding:100px;">
        	 Thanks for your interest!
        	  <p>&nbsp;</p>
        	  <p><span style="font-size:20px; color:#000">Unfortunately, we are only available in New York City at the moment</span></p>
        	  <p>&nbsp;</p>
              <a href="/" class="redlink" style="font-size:17px;"><strong>return to home page</strong></a>
        	</div>
 
        
    <!-- Start Sidebar (aside) -->
    <!-- .aside -->
    <!-- END Sidebar (aside) -->
    <!-- clear the float -->