	<div style="padding: 10px;"> Name : <%= @contact.name %></div>
	<div style="padding: 10px;">subject : <%= @contact.email %> </div>
	<div style="padding: 10px;">subject : <%= @contact.subject %> </div>
	
	<div style="padding: 10px;">Message : <%= @contact.message %></div>