<div class="header">
  	<div class="logo"></div>
      <h1 class="title"><% if user_signed_in? %> Welcome, <%= current_user.username %> <% else %> <% end %></h1>
      <ul class="nav">
      	<li><a href="/matches">matches</a></li>
          <li><a href="/movies">movies</a></li>
          <li><a href="/user/account">account</a></li>
      </ul><!-- .nav -->
      
      <!-- clear the float -->
      <div class="clearfloat"></div>
  </div><!-- .header -->


   <div class="section">
            
           

            <div class="articlenew profile">
            <!--	<h2 class="headshots">Welcome John Doe</h2> -->
               <!-- .headshot_msg -->
                <div style="padding-left: 140px;">
                <h3 class="headshots">8 Updates:</h3>
                <div class="profile_area">
                <div class="profile_inner">
                	<img src="/images/avtar_sml.png" alt="" align="left" class="avtar_pics">
                    <p class="avtar_con"> <strong>John Doe</strong> has asked you out!</p>
                </div>
                <div class="clearfloat"></div>
                <div class="clearfloat"></div>
                
                <div class="profile_inner">
                	<img src="/images/avtar_sml.png" alt="" align="left" class="avtar_pics">
                    <p class="avtar_con"> <strong>John Doe</strong> has asked you out!</p>
                </div>
                <div class="clearfloat"></div>
                
                
                
                <div class="profile_inner">
                	<img src="/images/avtar_sml.png" alt="" align="left" class="avtar_pics">
                    <p class="avtar_con"> <strong>John Doe</strong> has asked you out!</p>
                </div>
                <div class="clearfloat"></div>
                
                <div class="profile_inner">
                	<img src="/images/avtar_sml.png" alt="" align="left" class="avtar_pics">
                    <p class="avtar_con"> <strong>John Doe</strong> has asked you out!</p>
                </div>
                <div class="clearfloat"></div>
                
               
                </div>
                </div>
                 <p align="right"><a href="#">See 4 more...</a></p>
                 <hr>
                 
                 <h3>Recent activity:</h3>
                 
                 <div class="recent_activity">
                 	
                    
                    <div class="activity_inner"><a href="#">
						
                    	<a href="#"><img src="/images/avatar_1.png" alt="" height="88" width="99" align="left" style="padding-right:10px;"></a>
                        <a href="#"><strong><font color="#A80202">Guy</font></strong>, Straight, 38, New York City<br>Wants to see<span style="padding-left:3px;">:</span>Moneyball<br>Looking for<span style="padding-left:12px;">:</span> The kinda girl that can pull of Katherine Heigl in Knocked Up, but not quite as dumb...</a>

                        
						<div class="clearfloat"></div>    
                    </a></div>
					
                    
                    
                    <div class="activity_inner">
                    	<img src="/images/avatar_1.png" alt="" height="88" width="99" align="left" style="padding-right:10px;">
                        <a href="#"><strong><font color="#A80202">Guy</font></strong>, Straight, 38, New York City<br>Wants to see<span style="padding-left:3px;">:</span> Moneyball<br>Looking for<span style="padding-left:12px;">:</span> The kinda girl that can pull of Katherine Heigl in Knocked Up, but not quite as dumb...</a>

                        
                    <div class="clearfloat"></div>    
                    </div>
                    <div style="padding-top:10px;"><p align="right"><a href="matches.html">See more...</a></p></div>                
                    
                 </div>

                 
            </div><!-- article -->
            <!-- END Aritcle -->
        </div><!-- .section -->
            
        <!-- Start Sidebar (aside) -->
        <div class="aside">
            <ul>
           		<h2>Ads</h2>
                
                <div class="advertise">
                	<p align="center"><strong>Advertise Here</strong></p>
                </div>
              
              <h2>Proﬁle Views:</h2>
              <li>
                    <a href="javascript:void(0)">
                        <img src="http://graph.facebook.com/502489573/picture?type=square" height="32" width="32" alt="" />
                        <span class="user_name">Paul</span>,
                        24, New York City <br />
                        Movie: <span class="user_movie">Moneyball</span> 
                    </a>
                    <div class="clearfloat"></div>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="http://graph.facebook.com/12412651/picture?type=square" height="32" width="32" alt="" />
                        <span class="user_name">Jim</span>,
                        21, New York City <br />
                        Movie: <span class="user_movie">What's...</span> 
                    </a>
                    <div class="clearfloat"></div>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="http://graph.facebook.com/12415713/picture?type=square" height="32" width="32" alt="" />
                        <span class="user_name">Bob</span>,
                        44, New York City <br />
                        Movie: <span class="user_movie">Abduction</span> 
                    </a>
                    <div class="clearfloat"></div>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="http://graph.facebook.com/502489573/picture?type=square" height="32" width="32" alt="" />
                        <span class="user_name">Paul</span>,
                        24, New York City <br />
                        Movie: <span class="user_movie">Moneyball</span> 
                    </a>
                    <div class="clearfloat"></div>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="http://graph.facebook.com/12412651/picture?type=square" height="32" width="32" alt="" />
                        <span class="user_name">Jim</span>,
                        21, New York City <br />
                        Movie: <span class="user_movie">What's...</span> 
                    </a>
                    <div class="clearfloat"></div>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="http://graph.facebook.com/12415713/picture?type=square" height="32" width="32" alt="" />
                        <span class="user_name">Bob</span>,
                        44, New York City <br />
                        Movie: <span class="user_movie">Abduction</span> 
                    </a>
                    <div class="clearfloat"></div>
                </li>
              
               
            <!-- clear the float -->
            <div class="clearfloat"></div>
            </ul>
        </div><!-- .aside -->
        <!-- END Sidebar (aside) -->
        
        <!-- clear the float -->
        <div class="clearfloat"></div>
        
