<p>Hello Admin,</p>

<p>The following User has shown interest to Sign Up with Let's Get Popcorn!</p>
<div style="padding: 10px;">Email : <%= @futurecity.email %> </div>

<div style="padding: 10px;">Zipcode : <%= @futurecity.zipcode %></div><br/><br/>



<p>Thanks & Regards,</p>
<p>LetsGetPopcorn Administrator</p>