<p>Hello <%= @resources.username %> </p>

<p>Welcome to Let’s Get Popcorn! Thanks for joining and we hope you enjoy our site. Here’s to finding your co-star!! </p>


	<p>Thanks</p> 
	
	Lets Get Popcorn<br/>
 	Adminstrator