
<div class="upload"> 
  <ul id="position_container" class="image_list ui-sortable">
    <li>
    			<div class="draggable">
    			  <%= link_to image_tag( '/uploadify/cancel.png'),{ :controller=>"albums", :action => 'destroy', :id => album.id }, :id=>'as', :remote => true %>
    			</div>

    			<%= image_tag album.photo.url(:thumb) %> <br>
     </li>
  </ul>

</div>