<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>LetsGetPopcorn</title>
    <%= stylesheet_link_tag 'reset', 'style' %>
    <link rel="shortcut icon" href="images/favicon.png" />
</head>

<body class="login_page">

    <div align="center" style="width:100%; height:auto;">

        <div style="width:920px; height:auto; overflow:hidden">
  
            <%= yield %>

        </div><!-- .login -->

        <div class="footer">
            <%= render :partial =>"home/footer" %>
        </div><!-- .footer -->

    </div>

</body>
</html>